-- schema.sql
DROP TABLE IF EXISTS quotes;
CREATE TABLE quotes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  author TEXT NOT NULL,
  text_en TEXT NOT NULL,
  text_nl TEXT,
  text_fr TEXT,
  weight INTEGER DEFAULT 1,
  views INTEGER DEFAULT 0
);

DROP TABLE IF EXISTS threat_ledger;
CREATE TABLE threat_ledger (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
  ip_address TEXT,
  asn TEXT,
  country TEXT,
  event_type TEXT,
  target TEXT,
  blocked BOOLEAN
);
CREATE TABLE IF NOT EXISTS suggestions (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
  track TEXT NOT NULL,
  artist TEXT,
  alias TEXT,
  status TEXT DEFAULT 'pending' -- pending, approved, discarded
);

CREATE TABLE IF NOT EXISTS about_blocks (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  type TEXT NOT NULL, -- paragraph, image, timeline
  content TEXT NOT NULL, -- JSON string
  order_index INTEGER DEFAULT 0
);

CREATE TABLE IF NOT EXISTS close_friends (
  user_id TEXT PRIMARY KEY,
  username TEXT NOT NULL,
  display_name TEXT,
  avatar_url TEXT,
  is_friend BOOLEAN DEFAULT 0,
  friend_since DATETIME,
  badges TEXT DEFAULT '[]'
);
-- schema_aboutme.sql
CREATE TABLE IF NOT EXISTS about_blocks (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  type TEXT NOT NULL,
  content TEXT NOT NULL,
  order_index INTEGER DEFAULT 0,
  edited_by_ip TEXT,
  updated_at TEXT
);
-- schema_professional.sql
CREATE TABLE IF NOT EXISTS professional_blocks (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  type TEXT NOT NULL,
  content TEXT NOT NULL,
  order_index INTEGER DEFAULT 0,
  edited_by_ip TEXT,
  updated_at TEXT
);
-- schema_system.sql
CREATE TABLE IF NOT EXISTS song_votes (
    file_name TEXT PRIMARY KEY,
    likes INTEGER DEFAULT 0,
    dislikes INTEGER DEFAULT 0
);
-- schema_users_v2.sql
DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS groups;

CREATE TABLE groups (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT UNIQUE NOT NULL
);

CREATE TABLE users (
  id TEXT PRIMARY KEY,
  username TEXT UNIQUE NOT NULL,
  password TEXT,
  primary_group TEXT NOT NULL,
  secondary_groups TEXT,
  is_guest BOOLEAN DEFAULT 0,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  creation_ip TEXT,
  command_stats TEXT DEFAULT '{}'
);

INSERT INTO groups (name) VALUES ('root'), ('sudo'), ('users'), ('guests');

INSERT INTO users (id, username, password, primary_group, secondary_groups, is_guest)
VALUES ('starter-thy-id', 'thy', 'root', 'root', '["sudo"]', 0);
